<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Canvas and Text Template</title>
    <link rel="stylesheet" href="../styles/style.css">
</head>
<body>
    <div class="main-content">
        <div class="canvas-section">
            <canvas id="mainCanvas"></canvas>
        </div>
        <div class="text-section">
            <div class="text-container" id="textContainer">
                <div class="text-content" id="textContent">
                    <h2>Article</h2>
                    <div id="articles-container"></div>
                </div>
            </div>
            <div class="scroll-indicator">
                <div class="scroll-thumb" id="scrollThumb"></div>
            </div>
        </div>
    </div>
    <div class="navbar">
        <div class="nav-item"><a href="../index.html">Home</a></div>
        <div class="nav-item"><a href="../now.html">Now</a></div>
        <div class="nav-item"><a href="../blog.html">Blog</a></div>
        <!-- <div class="nav-item">Contact</div> -->
        <div class="clock" id="clock">00:00 AM</div>
    </div>

   <script type="module" src="../scripts/index.js"></script>
</body>
</html>